# Unity
RoverSim/Library/
RoverSim/Logs/
RoverSim/Packages/
RoverSim/Temp/
RoverSim/UserSettings/

RoverInterface/Library/
RoverInterface/Logs/
RoverInterface/Packages/
RoverInterface/Temp/
RoverInterface/UserSettings/

*.DS_Store
*.pyc
__pycache__/

.vs/
.idea/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db